:root {
  --primary-text-color: #757575;
  --secondary-tex-color: #212121;
  --link-color: #2196f3;
  --logo-color: #000000;
  --fons-color: #f5f5f5;
  --hero-color: #ffffff;
  --footer-color: #2f303a;
  --card-text-color: #757575;
  --color-active: #188ce8;
  --color-fon-team: #f5f4fa;
  --color-border: #eeeeee;
  --heder-border: #ececec;
  --color-box-shadow: rgba(0, 0, 0, 0.15);
  --color-text-shadow: rgba(0, 0, 0, 0.25);
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-border-customers: #afb1b8;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background: var(--hero-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  outline: 1px solid tomato;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid var(--heder-border);
}
@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .heder-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: var(--hero-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: white;
}
@media screen and (min-width: 480px) {
  .menu-container {
    z-index: 6;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 83px;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 92px;
  }
}
@media screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item {
    margin-right: 50px;
    position: relative;
  }
  .navigation__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .navigation__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .navigation__link.carrent::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    background: var(--link-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: color 250ms var(--transition-function);
    transition: color 250ms var(--transition-function);
  }
}
.navigation:hover, .navigation:focus {
  color: var(--link-color);
}

.carrent {
  color: var(--link-color);
}

@media screen and (max-width: 767px) {
  .contacts-list {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list {
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list__item {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__item {
    margin-bottom: 10px;
  }
  .contacts-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__item {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .contacts-list__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--link-color);
}
.contacts-list__link:hover svg, .contacts-list__link:focus svg {
  fill: var(--color-active);
}

.icon-envelope,
.icon-smartphone {
  fill: var(--card-text-color);
}
@media screen and (max-width: 767px) {
  .icon-envelope,
.icon-smartphone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .icon-envelope,
.icon-smartphone {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .social__list {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social__item {
    margin-right: 20px;
  }
  .social__item:last-child {
    margin-right: 0;
  }
  .social__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .social__link:hover, .social__link:focus {
    color: var(--link-color);
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-tex-color);
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    font-size: 26px;
    line-height: 1.9;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    font-size: 26px;
    line-height: 1.9;
  }
}
.navigation__accent {
  font-family: Raleway, sans-serif;
  color: var(--link-color);
}

.section-hero {
  padding: 118px 60px;
  text-align: center;
}
.section-hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.section-hero__button {
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px var(--color-box-shadow);
          box-shadow: 0px 4px 4px var(--color-box-shadow);
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--link-color);
}

.section-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/Headermob1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Headermob1x.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/Header\ mob2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header\ mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/Header\ tab1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header\ tab1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/Header\ tab2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header\ tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/Header\ des1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Header\ des1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/Heder\ des2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/Heder\ des2x.jpg);
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.features-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    max-width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    max-width: 270px;
    margin: 0 30px 0 0;
  }
  .features-list__item:last-child {
    margin-right: 0;
  }
}

.features-list__icon {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .features-list__icon {
    padding: 0;
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--color-fon-team);
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__icon {
    padding: 0;
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--color-fon-team);
    border-radius: 4px;
  }
}

.features-list__title {
  margin-bottom: 10px;
  max-width: 450px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__title {
    text-align: left;
  }
}

.section-specifics {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-specifics {
    display: none;
  }
}
.section-specifics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-specifics__img {
  display: block;
  height: auto;
  max-width: 100%;
}
.section-specifics__item {
  width: 370px;
  height: 294px;
  margin-right: 30px;
}
.section-specifics__item:last-child {
  margin-right: 0;
}
.section-specifics__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-color);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}
.section-specifics__bloc {
  position: relative;
}
.section-specifics__bloc::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.specifics {
  margin-bottom: 50px;
}

.team-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.icon-link-team {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--color-border-customers);
  -webkit-transition: background-color 250ms var(--transition-function), fill 250ms var(--transition-function);
  transition: background-color 250ms var(--transition-function), fill 250ms var(--transition-function);
}
.icon-link-team:hover, .icon-link-team:focus {
  fill: var(--hero-color);
  background-color: var(--link-color);
}

.team {
  margin-bottom: 50px;
}

.team-img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 0px;
}

.conteiner-title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.item-team {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--hero-color);
}
@media screen and (min-width: 768px) {
  .item-team {
    max-width: 354px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .item-team {
    margin: 0 30px 0 0;
  }
  .item-team:last-child {
    margin-right: 0;
  }
}

.section-team {
  background-color: var(--color-fon-team);
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--card-text-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.customer {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customer {
    margin-bottom: 50px;
  }
}
.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .customer__list {
    margin: -15px;
  }
}
@media screen and (min-width: 480px) {
  .customer__list {
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__list {
    margin: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.customer__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 210px;
}
@media screen and (min-width: 480px) {
  .customer__item {
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .customer__item {
    margin: 15px;
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__item {
    margin: 0 30px 0 0;
    margin-right: 30px;
    max-width: 170px;
  }
  .customer__item:last-child {
    margin-right: 0;
  }
}
.customer__link {
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--color-border-customers);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--color-border-customers);
  -webkit-transition: fill 250ms var(--transition-function);
  transition: fill 250ms var(--transition-function);
}
.customer__link:hover, .customer__link:focus {
  border: 1px solid var(--link-color);
  fill: var(--link-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

@media screen and (min-width: 1200px) {
  .foter-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner-address {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .address-positions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address-positions {
    margin-bottom: 0;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hero-color);
}
.footer-logo__accent {
  font-family: Raleway, sans-serif;
  color: var(--link-color);
}
@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.9;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.9;
    text-align: left;
  }
}

.address {
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
    margin-bottom: 60px;
  }
}
.address__list {
  display: block;
}
.address__item {
  margin-bottom: 8px;
}
.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-footer-link);
  -webkit-transition: color 250ms var(--transition-function);
  transition: color 250ms var(--transition-function);
}
.address__link:hover, .address__link:focus {
  color: var(--hero-color);
}

@media screen and (max-width: 1199px) {
  .icon-footer {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .icon-footer {
    margin-bottom: 60px;
  }
}
.icon-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}
.icon-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon-footer__item {
  margin-right: 10px;
}
.icon-footer__item:last-child {
  margin-right: 0;
}
.icon-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--hero-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--transition-function);
  transition: background-color 250ms var(--transition-function);
}
.icon-footer__link:hover, .icon-footer__link:focus {
  background-color: var(--link-color);
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
    display: block;
  }
}
.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}
@media screen and (max-width: 1199px) {
  .subscription__text {
    text-align: center;
  }
}
.subscription__mail {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .subscription__mail {
    margin-right: 12px;
  }
}
.subscription__mail input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__mail input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__mail input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__mail input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__mail input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: var(--footer-color);
  padding-left: 16px;
  color: var(--hero-color);
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    height: 50px;
  }
}
.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: none;
  color: var(--hero-color);
  background: var(--link-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--transition-function);
  transition: background-color 250ms var(--transition-function);
}
.subscription__button:hover, .subscription__button:focus {
  background-color: var(--color-active);
}
.subscription__icon {
  margin-left: 10px;
}

.portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .portfolio-button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 15px;
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio-button__link {
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
  -webkit-transition: color 250ms var(--transition-function), background-color 250ms var(--transition-function);
  transition: color 250ms var(--transition-function), background-color 250ms var(--transition-function);
}
.portfolio-button__link:active, .portfolio-button__link:hover, .portfolio-button__link:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--link-color);
  color: var(--hero-color);
}

.section-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-button {
  margin-right: 8px;
}

.item-button:last-child {
  margin-right: 0;
}

.section-button {
  margin-bottom: 50px;
}

.work-details {
  position: relative;
  overflow: hidden;
}

.tex-details {
  font-size: 18px;
  line-height: 1.5;
  color: var(--hero-color);
  position: absolute;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.item-work:hover .tex-details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .section-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.work-link {
  display: block;
  text-decoration: none;
}

.work-link:hover,
.work-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-work {
  background: var(--hero-color);
  border: 1px solid var(--color-border);
}
@media screen and (max-width: 479px) {
  .item-work {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .item-work {
    margin: 15px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .item-work {
    max-width: 370px;
    margin: 0 30px 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .item-work:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .item-work:nth-child(3n) {
    margin-right: 0;
  }
}

.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-tex-color);
}

.work-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--card-text-color);
}

.work-img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 0px;
}

.title-text {
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  padding: 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.modal {
  width: 450px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--hero-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--hero-color);
  width: 30px;
  height: 30px;
  fill: var(--logo-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--transition-function);
  transition: fill 250ms var(--transition-function);
}

.close-button:hover {
  fill: var(--link-color);
}

textarea {
  resize: none;
}

.form {
  padding: 40px 40px;
}
.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
}
.form-conteiner {
  margin-bottom: 20px;
}
.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-field:last-child {
  margin-bottom: 0;
}
.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  outline: none;
  -webkit-transition: fill 250ms var(--transition-function);
  transition: fill 250ms var(--transition-function);
}
.form-field label {
  margin-bottom: 4px;
}
.form-field textarea {
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
}
.form-field textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field input:focus + svg {
  fill: var(--link-color);
}
.form-field input:focus {
  border: 1px solid var(--link-color);
  border-radius: 4px;
}
.form-field textarea:focus {
  border: 1px solid var(--link-color);
  border-radius: 4px;
}
.form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--card-text-color);
}

.input-wrap {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-coordination {
  margin-bottom: 30px;
}

.form-button {
  margin: 0 auto;
  padding: 10px 52px;
  background: var(--link-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--hero-color);
  -webkit-transition: background-color 250ms var(--transition-function);
  transition: background-color 250ms var(--transition-function);
}
.form-button:hover, .form-button:focus {
  background-color: var(--color-active);
}

.checkbox-form {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  border: 2px solid var(--secondary-tex-color);
}

.form-coordination input:checked + label .checkbox-form {
  background: var(--link-color);
  border: 1px solid var(--link-color);
  background-origin: border-box;
}

.checkbox-form svg {
  display: none;
}

.form-coordination input:checked + label .checkbox-form svg {
  display: block;
}

.label-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-coordination {
  text-decoration: none;
  margin-left: 5px;
  color: var(--link-color);
}
.link-coordination::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--link-color);
}/*# sourceMappingURL=main.css.map */