.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-color);
}
.foter-conteiner {
  display: flex;
  align-items: baseline;
}

.conteiner-address {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hero-color);

  &__accent {
    font-family: Raleway, sans-serif;
    color: var(--link-color);
  }
}

.address {
  font-style: normal;

  &__list {
    display: block;
  }
  &__item {
    margin-bottom: 9px;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-footer-link);

    transition: color 250ms var(--transition-function);

    &:hover,
    :focus {
      color: var(--hero-color);
    }
  }
}

.icon-footer {
  &__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--hero-color);
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--hero-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--transition-function);
    &:hover,
    :focus {
      background-color: var(--link-color);
    }
  }
}

.subscription {
  margin-left: auto;

  &__form {
    display: flex;
  }
  &__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--hero-color);
  }
  &__mail {
    position: relative;
    margin-right: 12px;

    & input::placeholder {
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.03em;

      display: flex;
      align-items: center;

      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__input {
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: var(--footer-color);

    padding-left: 16px;
    color: var(--hero-color);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    cursor: pointer;
    letter-spacing: 0.06em;
    border: none;

    color: var(--hero-color);
    background: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms var(--transition-function);

    &:hover,
    :focus {
      background-color: var(--color-active);
    }
  }
  &__icon {
    margin-left: 10px;
  }
}
